<%- include("partials/header")-%>
<h1>Login</h1>
<form action="/login" method="post">
    <div class="form-signin">
    <label for="">Username</label>
    <input type="text"  class="form-control" name="username" placeholder="Email-address" required autofocus>
    <label for="">Password</label>
    <input type="password"  class="form-control" name="password" placeholder="Password" required>
    <button type="submit" class="btn btn-lg btn-primary">submit</button>
</div>
</form>
<%- include("partials/footer")-%>